<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Manage Course</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>

	<div th:replace="fragments/header :: header-css"></div>
	<div th:replace="fragments/header :: header"></div>

	
	<div class="container">
		
		<h2><span th:text="${pTitle}"></span></h2>
	

		<form class="form-horizontal" action="/course" method="POST"
			th:object="${course}">
			<input type="hidden" name="id" th:value="${course.id}" />
			<div class="form-group">
				<label class="control-label col-sm-2" for="title">Title:</label>

				<div class="col-sm-10">
					<input type="text" class="form-control" id="title" name="title"
						th:field="*{title}" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="courseId">Course
					ID</label>

				<div class="col-sm-10">
					<input type="text" class="form-control" id="courseId"
						name="courseId" th:value="${course.courseId}" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="creditHour">Credit
					Hour:</label>

				<div class="col-sm-10">
					<input type="number" class="form-control" min="2" max="5" id="creditHour"
						name="creditHour" th:field="${course.creditHour}" />
				</div>
			</div>

			<div class="form-group">
			<label class="control-label col-sm-2" for="prerequisite">Pre-requisite
					</label>
				<div class="col-sm-10">
					<select class="form-control" th:field="${course.prerequisite}">
						<option value="0">Select course</option>
						<option th:each="c : ${courses}" th:value="${c.id}"
							th:text="${c.courseId} + ' - ' +${c.title}"></option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="description">Description</label>
				<div class="col-sm-10">
					<textarea class="form-control" id="description" name="description"
						th:field="${course.description}"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</div>
		</form>
	</div>


	<script src="/jquery/jquery-3.2.1.min.js"></script>
	<script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
	<script src="/js/getrequest.js"></script>
</body>
</html>