<!DOCTYPE HTML>
 <html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
      <title>add student</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div th:replace="fragments/header :: header-css"></div>
<div th:replace="fragments/header :: header"> </div>
 
 
   <div class="container col-md-12" >
   <form  th:action="@{/admin/student/update}" th:object="${editStudent}" method="post"  class="form-horizontal">
			<fieldset >
				<legend>Student Personal Detail</legend>
				  <div class="alert alert-danger alert-dismissable fade in">
					 
					<ul>
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
						
					</ul> 
					</div>
				<p>
					<input type="hidden" th:field="*{id}" name="ID" />
					<input type="hidden" th:field="*{userprofile.id}" name="ID" />

				</p>
				<div class="table">
				<br></br>
						<label for="firstName">First Name : </label>
						<input id="firstName" class="form-control mb-2 mb-sm-0"
							type="text" th:field="*{userprofile.firstName}" />
							<br></br>
						<label for="lastName">Last Name : </label>
						<input id="lastName" class="form-control mb-2 mb-sm-0"
							type="text" th:field="*{userprofile.lastName}" />
							<br></br>
							
						<label for="idNumber">ID Number : </label>
							<input id="idNumber" class="form-control mb-2 mb-sm-0"
							type="text" th:field="*{idNumber}" />
							
							<br></br>
						<!--<td><label for="degree">Degree : </label></td>
							<td><input id="degree" class="form-control mb-2 mb-sm-0"
							type="text" th:field="*{degree}" /></td>
							 <td><label for="transcript">Transcript: </label></td>
							<td><input id="transcript" class="form-control mb-2 mb-sm-0"
							type="text" th:field="*{transcript.grade}" /></td>	 -->
							
						<label for="">Field : </label>
							<input id="field" class="form-control mb-2 mb-sm-0"
							type="text" th:field="*{field}" />
						<br></br>
							<label for="entry">Entry</label>
							<select name="entry" th:field="*{entry}">	   
							    <option th:each="entry1 : ${entries}" th:text="${entry1.entryMonth}" th:value = "${entry1.id}"></option>
						    </select>
						    
							<br></br>
						<br></br>
						<label for="roles">User Role :</label>
						<select th:field="*{userprofile.roles}"
							class="selectpicker" multiple="multiple">
								<option th:each="role : ${userTypeList}" th:value="${role.id}"
									th:text="${role.role}">User Role</option>
						</select>
					<br></br>
					<br></br>
						<label for="birthdate">Birth Date :</label>
						<input id="birthdate" class="form-control mb-2 mb-sm-0"
							type="date" th:field="*{userprofile.birthdate}" />
<br></br>
						<label for="email">Email : </label>
						<input id="email" class="form-control"
							th:field="*{userprofile.email}" />
					<br></br>
					
					<br></br>
						<label for="userName">User Name : </label>
						<input id="userName" class="form-control mb-2 mb-sm-0"
							type="text" th:field="*{userprofile.userName}" />
							<br></br>
						<label for="password">Password : </label>
						<input type="password" class="form-control mb-2 mb-sm-0"
							id="password" th:field="*{userprofile.password}" />
				<br></br>
				</div>


				<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<input type="submit" class="btn btn-lg btn-primary btn-block"
									value="Save" />
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6"></div>

						</div>
				

			</fieldset>
			</form>
			</div> 


<script src="/jquery/jquery-3.2.1.min.js"></script>    
<script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/js/getrequest.js"></script>
</body>
</html>